* {
    margin: 0;
    padding: 0;
}

li, a {
    display: inline;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100%;
    height: 100%;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.scrollbar::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.4);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}

.scrollbar::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

.fixable {
    position: fixed;
    /* z-index: 999; */
    bottom: 100px;
    right: 50px;
    /* overflow: hidden; */
    /* *zoom: 1; */
}