/**
 *                    _ooOoo_
 *                   o8888888o
 *                   88" . "88
 *                   (| -_- |)
 *                    O\ = /O
 *                ____/`---'\____
 *              .   ' \\| |// `.
 *               / \\||| : |||// \
 *             / _||||| -:- |||||- \
 *               | | \\\ - /// | |
 *             | \_| ''\---/'' | |
 *              \ .-\__ `-` ___/-. /
 *           ___`. .' /--.--\ `. . __
 *        ."" '< `.___\_<|>_/___.' >'"".
 *       | | : `- \`.;`\ _ /`;.`/ - ` : | |
 *         \ \ `-. \_ __\ /__ _/ .-` / /
 * ======`-.____`-.___\_____/___.-`____.-'======
 *                    `=---='
 *
 * .............................................
 *          佛祖保佑             永无BUG
 *
 *  常用样式集：清除浮动、滚动条、固定位置、搜索框
 *
 *
 */

* {
    margin: 0;
    padding: 0;
}

li, a {
    display: inline;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100%;
    height: 100%;
}

/* ********************************************************* */

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

/* ********************************************************* */

.scrollbar::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.4);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}

.scrollbar::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

/* ********************************************************* */

.fixable {
    position: fixed;
    /* z-index: 999; */
    bottom: 100px;
    right: 40px;
    /* overflow: hidden; */
    /* *zoom: 1; */
}

/* ********************************************************* */

.search-box {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
}

.search-box input {
    float: left;
    height: 30px;
    position: relative;
    top: 10px;
    width: 85%;
    box-sizing: border-box;
    border: 1px solid brown;
    padding-left: 10px;
}

.search-box span {
    float: left;
    height: 30px;
    line-height: 30px;
    position: relative;
    top: 10px;
    background-color: brown;
    color: #fff;
    width: 15%;
    text-align: center;
    font-size: 11pt;
    letter-spacing: 2px;
    cursor: pointer;
}

.search-box span:hover {
    background-color: rgb(121, 38, 38);
}

/* ********************************************************* */