*{
    margin: 0;
    padding: 0;
    border: none;
}
#nav_fixed{
    background-color: black;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
}
#nav_fixed>a{
    float: right;
    color: white;
    text-decoration: none;
    margin: auto 30px auto 20px;
    line-height: 40px;
}
#div_nav1{
    width: 100%;
    height: 118px;
    background-color: white;
}
#div_nav2{
    width: 100%;
    height: 78px;
    /* vertical-align: middle; */
    border: 1px solid #e9e9e9;
}
#div_nav2>a{
    float: left;
    text-decoration: none;
    font-size: 30px;
    color: black;
    line-height: 78px;
    margin-left: 50px;
}
#div_nav2 a:nth-child(1){
    margin-left: 200px;
}
#div_nav2>div{
    font-size: 0;
    height: 100%;
    width: 100%;
}
#div_nav2 input{
    font-size: 15px;
    height: 40px;
    float: right;
    /* width: 150px; */
    /* line-height: 78px; */
    /* position: relative; */
    /* top:19px; */
    /* vertical-align: middle; */
    border: 1px solid #e9e9e9;
    margin-top: 18px;
    margin-right: 20px;
}
button{
    float: right;
    background: rgb(119, 176, 246);
    border: none;
    color: white;
    width: 80px;
    height: 40px;
    /* margin-top: 10px;
    line-height: 40px; */
    font-size: 16px;
    margin-top: 19px;
    margin-right: 40px;
}
#aa{
    height: 1000px;
    width: 100%;
    background-color: yellow;
}
#total{
    font-size: 0;
}
#left_block{
    display: inline-block;
    width: 60%;
    /* background-color: blue; */
    vertical-align: top;
    /* border: 1px solid #e9e9e9; */
    margin: 30px 100px;
}
#right_block{
    display: inline-block;
    width: 20%;
    /* background-color: yellow; */
    height: 300px;
    vertical-align: top;
    margin-top: 30px;
    /* border: 1px solid #e9e9e9; */
}
#card1{
    width: 100%;
    height: 300px;
    /* background-color: red; */
    /* margin: 30px 80px; */
}
#img_contain{
    height: 100%;
    width: 70%;
    background-image: url(../../imgs/article_ls/莱昂纳德.jpg);
    background-size: contain;
    display: inline-block;
    /* display: inline-block; */
    height: 100%;
    vertical-align: top;
}
#text{
    display: inline-block;
    height: 100%;
    width: 30%;
    font-size: 20px;
    border: 1px solid #e9e9e9;
}
#text div:nth-child(1){
    font-size: 25px;
    /* padding: 5px; */
    margin: 3px 10px;
}
#text div:nth-child(3){
    font-size: 15px;
    /* padding: 5px; */
    margin: 3px 10px;

}
ul{
    list-style: none;
    font-size: 0;
}
div.container{
    border: 1px solid #e9e9e9;
    margin-top: 30px;
}
div.container>ul>li{
    border-bottom: 1px solid #e9e9e9;
}
ul>li>div:nth-child(1){
    display: inline-block;
    background-color: blue;
    background-image: url(../../imgs/article_ls/验钞机.jpg);
    background-size: contain;
    vertical-align: top;
    margin: 30px 30px;
    width: 30%;
    height: 200px;
    /* border: 1px solid #e9e9e9; */
}
ul>li>div:nth-child(2){
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    width: 60%;
    height:200px;
    /* background-color: red; */
    /* border: 1px solid #e9e9e9; */
    margin: 30px 0;
}
div.news{
    border: 1px solid #e9e9e9;
    border-top: 2px solid red;
    margin-bottom: 80px;
}
div.news>div{
    margin:5px 2px;
    font-size:20px;
}
div.news>ol>li{
    font-size: 15px;
    margin: 15px 20px;
}
