.content-box {
    margin-top: 20px;
}

.content-container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

/* ****************************************************************** */

.article-head-box {
    width: 75%;
    float: left;
}

.title-side-box {
    width: 25%;
    float: left;
    box-sizing: border-box;
    /* padding-left: 10px; */
}

.search-box {
    padding: 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid brown;
}

.virtue-three-box {
    /* margin-top: 10px; */
    /* margin-left: 10px; */
    padding-left: 30px;
}

.good-box, .money-box, .report-box {
    float: left;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    padding: 5px 0 5px 10px;
    cursor: pointer;
}

.report-box {
    width: 40px;
}

.virtue-three-box img {
    float: left;
    position: relative;
    width: 30px;
    height: 30px;
    top: 5px;
    margin-right: 3px;
}

.good-count, .money-count {
    float: left;
    height: 40px;
    line-height: 40px;
    color: #999;
    font-size: 10pt;
}

.article-intro-box {
    box-sizing: border-box;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}

.claim-box {
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    color: #666;
    font-size: 10pt;
    text-align: right;
}

.claim-box i {
    /* content: "\E6E9"; */
    font-weight: bolder;
    color: brown;
}

/* ****************************************************************** */

.main-video-box {
    margin-top: 10px;
}

/* ****************************************************************** */

.video-box {
    float: left;
    width: 75%;
    height: 500px;
    background-color: #000;
    box-sizing: border-box;
    padding: 0 10px;
}

.video-box video {
    display: block;
    height: 100%;
    width: 100%;
}

/* ****************************************************************** */

.side-video-box {
    float: left;
    width: 25%;
    height: 500px;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: rgb(88, 88, 88);
}

.side-title {
    color: #fff;
    font-size: 12pt;
    margin-top: 10px;
    height: 29px;
    border-bottom: 1px solid #999;
}

.side-title span {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 10px;
    border-left: 4px solid #eee;
}

.side-video-container {
    height: 460px;
    overflow-y: scroll;
    padding: 0 5px;
    box-sizing: border-box;
}

.side-video-card {
    width: 100%;
    height: 150px;
    margin: 5px 0;
    position: relative;
}

.video-sculpture {
    display: block;
    width: 100%;
    height: 100%;
}

.side-video-mask {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    top: -100%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.side-video-card:hover .side-video-mask {
    background-color: rgba(0, 0, 0, 0.2);
}

.side-video-mask img {
    position: relative;
    width: 40px;
    height: 40px;
    top: 55px;
    left: 120px;
    transition: all 0.2s ease-in-out;
}

.side-video-card:hover .side-video-mask img {
    transform: scale(1.1);
}

.side-video-title {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 10pt;
    position: relative;
    top: -170px;
    box-sizing: border-box;
    padding-left: 5px;
}

.side-video-card:hover .side-video-title {
    background-color: rgba(0, 0, 0, 0.8);
}

.side-video-title a {
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
}

.side-video-title a:hover {
    color: #a00;
    text-decoration: underline;
}

/* ****************************************************************** */

.author-box {}

/* ****************************************************************** */

.comments-box {
    margin-top: 10px;
    width: 75%;
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}

/* ****************************************************************** */

.hot-video-box {
    margin-top: 10px;
    width: 25%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.hot-side-title {
    color: brown;
    margin-top: 10px;
    height: 29px;
    border-bottom: 0px solid #999;
}

.hot-side-title span {
    border-left: 4px solid brown;
}

.hot-side-container {
    height: auto;
    overflow-y: hidden;
    padding-right: 11px;
}

.hot-span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 10px;
    /* font-weight: bolder; */
    font-size: 20pt;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #999;
    border-bottom-right-radius: 40px;
}

.hot-side-container .side-video-card:nth-child(1) .hot-span {
    background-color: rgb(248, 233, 16);
    color: brown;
}

.hot-side-container .side-video-card:nth-child(2) .hot-span {
    background-color: rgb(202, 190, 14);
    color: brown;
}

.hot-side-container .side-video-card:nth-child(3) .hot-span {
    background-color: rgb(153, 144, 12);
    color: brown;
}

/* ************************************************************** */