.header-content-box{
    width:90%;
    height:90px;
    margin:0px auto;
    padding: 20px;
}
/*左侧题目*/
.header-title-box{
    width:470px;
    float:left;
    /*background: #31402a;*/
    margin-top: 35px;
    margin-left: 70px;
}
.header-title{
    color: white;
    font-size:50px;
    font-family: 黑体;
}
/*右侧消息框*/
.header-inform-box{
    width:800px;
    height:120px;
    float:right;
    /*background: #50574d;*/
}
.header-inform-ul{
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    /*background-color: #c24f4a;*/
}
.header-inline{
    width:100px;
    line-height: 100px;
}
.header-inline-name{
    width:auto;
    margin-top: 25px;
    height: 25px;
    line-height: 20px;
    /* background-color: #a1a1a1;*/
}
.li-name{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 黑体;
    margin-bottom: 30px ;
    /* background-color: #c24f4a;*/
}
.header-inline-rank{
    width:45px;
    margin-top: 25px;
    height: 25px;
    line-height: 20px;
    margin-left: 20px;
}
.li-rank{
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 黑体;
}
.header-inline-star{
    width:auto;
    margin-top: 20px;
    height: 25px;
    line-height: 20px;
}