/***********************************************卡片内容********************************************************************/
.examine-content ul {
    box-sizing: border-box;
}

.examine-content ul li {
    margin: 10px -3px;
    /*background: #1c7430;*/
    display: inline-block;
}

.card {
    width: 98%;
    height: 565px;
    border: 2px solid #999999;
}

.card-header{
    height: 50px;
    font-size: 14pt;
    padding: 10px;
    position: relative;
    letter-spacing:20px;
}

.card-header div {
    width: 60%;
    display: inline;
    position: relative;
    margin: auto;
}

.card-header span {
    width: 33px;
    position: absolute;
    top:33%;
    right: 2%;
    /*float: right;*/
}

.card-body {
    height: 450px;
}

.card-title p{
    height: 60px;
    width: 98%;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    /*overflow: hidden;*/
    /*white-space:nowrap;*/
    /*text-overflow: ellipsis;*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.card-text {
    height: 90px;
    line-height: 30px;
    font-size: 11pt;
    /*overflow: hidden;
    text-overflow: ellipsis;*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.card-text-video {
    width: 100%;
    height: 100%;
}

.card-text img {
    width: 100%;
    height: 100%;
}

.card-box {
    width: 99%;
    height: 250px;
    margin: 10px auto;
}

.card-img-top {
    width: 100%;
    height: 100%;
}

.card-footer button{
    font-size: 5pt;
}
/***********************************************模式框内容********************************************************************/

.modal-header{
    background: #78909c;
    color: #aa0000;
}
.modal-title{
    text-align: center !important;
    font-weight: bolder;
    font-size: 17pt;
    padding-left: 420px !important;
    letter-spacing: 10px;
}
.select1,.select2{
    display: inline-block;
}
.modal-footer ul li{
    display: inline-block;
}
.modal-footer ul li button{
    float: right;
}
/***********************************************模式框内容********************************************************************/
.modal-article{
    width: 90%;
    margin: 0px auto;
    border: 2px solid #dddddd;
    padding: 10px 20px 0px 20px;
}
.article-title-box{
    line-height: 28px;
    border-bottom: 2px solid #dddddd;
    font-size: 15pt;
    font-weight: bolder;
}
.article-content-box{
    width: 100%;
    margin: 2px auto;
}
.article-source,.article-date{
    font-weight: normal;
    font-size: 10pt;
    color: #979797;
}
.article-date{
    margin-bottom: 4px;
}
.article-source{
    margin-top: 5px;
}
.article-main{
    width: 98%;
    margin: 13px auto;
    font-size: 12pt;
}

.modal-footer{
    width: 90%;
    margin: 0px auto;
}
.btn-li{
    position: absolute;
    bottom:2.5%;
    right: 5%;
}