.examine-box {
    margin: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 1px #000;
}

.examine-head {
    margin-top: 5px;
    padding-left: 10px;
    font-weight: bolder;
    /*background: #eee;*/
}

.examine-title {
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: bolder;
    /* background: #eee;*/
}

.examine-path {
    padding-top: 5px;
    padding-left: 5px;
    /*background: #eee;*/
}
.examine-content {
    width: 93%;
    margin: 0px auto;
    font-weight: bolder;
    /*background: #999999;*/
    /*border:2px solid #ffa42a;*/
}
