.examine-box {
    margin: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 1px #000;
}

.examine-head {
    margin-top: 5px;
    padding-left: 10px;
    font-weight: bolder;
    /*background: #eee;*/
}

.examine-title {
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: bolder;
    /* background: #eee;*/
}

.examine-path {
    padding-top: 5px;
    padding-left: 5px;
    /*background: #eee;*/
}
.examine-content {
    width: 93%;
    margin: 0px auto;
    font-weight: bolder;
    /*background: #eee;*/
}

#mytab thead {
    background: #5488c4;
}
/*隔行变色*/
#mytab tr:nth-child(even) {
    background: #f4f8fb;
}
.popup {
    display:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    background:rgba(0,0,0,0.6);
}
.popup.active {
    display:block;
}
.popup-content {
    width:300px;
    padding:20px;
    border-radius:6px;
    background:#fff;
    text-align:right;
    margin:0 auto;
    margin-top:50px;
}
.popup-content h3 {
    text-align:center;
    margin:0;
}
.popup-content p {
    text-align:left;
    border:1px solid #aaa;
    border-width:1px 0 1px 0;
    line-height:60px;
    margin:20px -20px;
    padding:0 20px;
}